$tema: inverno;


@function changeColor($type, $color){
    @if $type == light{
        $newColor: lighten($color, 30%);
        @return $newColor;
    }
    @else if $type == dark{
        $newColor: darken($color, 30%);
        @return $newColor;
    } @else if $type == comp{
        $newColor: complement($color);
        @return $newColor;
    }
    @else{
        $newColor: $color;
        @return $newColor;
    }
}

@mixin card($bgcolor, $txtcolor, $icon, $bradius, $badge){
    width: 20%;
    display: table; //uses the insight content height for himself. 
    background-color: $bgcolor;
    border-radius: $bradius;
    background-image: url($icon);
    background-size:50%;
    background-position:top right;
    background-repeat: no-repeat;
    margin: 32px;
    padding: 32px;
    color:$txtcolor;
    position: relative;
    transition: all 0.5s ease;
    &:after{
        content: 'status: ' + $badge;
        position: absolute;
        top: 15px;
        left: 15px;
        background-color: changeColor(light, #e9524d);
        color: #fff;
    }
    
}
@mixin btn-large($fontsize:28px){
    font-size: $fontsize;
}
@mixin btn($bgcolor, $txtcolor, $fontsize){
    border: none;
    padding: 8px 20px;
    border-radius: 4px;
    background-color:$bgcolor;
    color: $txtcolor;
    display: inline-block;
    text-decoration: none;
    margin-top: 15px;
    font-size:$fontsize;

    &:hover{
        background-color: changeColor(light, $bgcolor);
    }
}
.card-positive{
    @if $tema == inverno{
        @include card(#5d5e5c, #fff, 'imgs/s.webp', 8px, 'Up!');
    } @else{
        @include card(#881397, #fff, 'imgs/s.webp', 8px, 'Up!');
    }
}
.card-negative{
    @include card(#e9524d, #fff,'imgs/s.webp', 8px, 'Down');
}
.btn{
    @include btn(#020202, #fff, 21px);
}
.btn-large{
    @include btn(#0c5f0c, #fff, 21px);
    @include btn-large();
}