@import 'partials/components';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-family: Arial, Helvetica, sans-serif;
}
@mixin title($size: normal){
    @if $size == small{
        font-size:12px;
    } @else if $size == large{
        font-size:44px;
    } @else{
        font-size: 24px;
    }
}
main{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content:center;
    align-items: flex-start;
    flex-wrap: wrap;
}
header{
    width: 100%;
    height: 80px;
    margin-bottom: 35px;
    text-align: center;
    h1{
        @include title(large);
    }
}