*{
    box-sizing: border-box;
    font-family: 'Didact Gothic', sans-serif;
    font-weight: normal;
  }
  
  body{
    margin: 0;
    padding: 16px;
    background: #000;
  }
  
  .page-wrapper{
    display:grid;
    gap: 16px; /* equivale tanto pro column quanto pro row dai */
    width:100%;
    height: 100vh;
    grid-template-columns:2.5fr 2.5fr 1.25fr 1.25fr 2.5fr; /*fr - fraction do total*/
    grid-template-rows: 80px auto;
    grid-template-areas:
    "header1 header1 header1 header1 header2"
    "banner banner mondrian mondrian texto"
    "rietveld vermelho mondrian mondrian texto"
    "rietveld vermelho preto branco texto"
    ;
    /* grid-auto-rows: 100px; */ /*altura das caixas*/
    align-items: stretch; /* vertical */
    justify-items: stretch; /* alinhamento horizontal */
  }
  
  .pad-32{
    padding: 32px;
  }
  
  .header-1 {
    background: white;
    /* grid-column:1/5;*/
    grid-area: header1;
    display:flex;
    flex-direction: row;
    justify-content:flex-start;
    align-items: center;
  }
  .header-1 .logo{
    width: 33%;
    height: 33px;
  }
  .header-1 .logo img{
    margin-left: 32px;
  }
  .header-1 nav{
    width:33%;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
  }
  .header-1 nav a{
    text-decoration:none;
    color:#000;
  }
  .header-2 {
    background: yellow;
    /* grid-column: 5/6; */
    grid-area: header2;
    display: flex;
    flex-direction:row;
    align-items: center;
    justify-content: space-between;
  }
  .carrinho{
    display: flex;
    width:140px;
    height:40px;
    justify-content:space-between;
    align-items: center;
    flex-direction:row;
  }
  .carrinho p{
    width: 100px;
  }
  .carrinho p span{
    margin-left:8px;
    height: 24px;
    width: 24px;
    display:inline-block;
    color: #fff;
    background-color: #000;
    text-align: center;
    list-style: 24px;
  }
.header-2 a{
    color: #000;
    text-decoration: none;
  }
  .banner {
    background: white;
    /* grid-column: 1/3;
    grid-row: 2/3; */
    grid-area:banner;
    /*align-self: start; /* só essa caixa 
    justify-self: start; */
    display: flex;
    flex-direction: row;
    justify-content: space-between; /*espaço entre os blocos*/
  }
  .banner-text,
  .banner-img{
    width:50%;
    display: table; /* assume a altura do conteudo que esta dentro certinho */
    padding:0 40px;
  }
  .banner-text h1{
    font-size:64px;
    line-height:72px;
    margin:0 0 16px 0;
    padding:0;
  }
  .banner-text h2{
    font-size:28px;
    line-height:32px;
    margin:20px 0 8px 0;
    padding:0;
  }
  .banner-text h4{
    font-size: 16px;
    line-height: 24px;
    margin:0;
    padding:0;
  }
  .banner-text a{
    font-size:21px;
    color: #fff;
    background-color:#3963A4;
    padding:10px 32px;
    margin-top:14px;
    display:table;
    text-align:center;
    text-decoration: none;
  }
  .banner-img img{
    width: 100%;
    max-width:318px;
  }
  .mondrian {
    /*grid-column: 3/5; /* horizontal
    grid-row: 2/4; /* vertical */ 
    grid-area:mondrian;
    background: #3963A4;
  }
  .mondrian h2, .mondrian p{
    color: #fff;
  }
  .texto {
    background: white;
    /* grid-column: 5/6; /* horizontal 
    grid-row: 2/5; /* vertical */ 
    grid-area:texto;
  }
  
  .rietveld{
    background: yellow;
    /* grid-column: 1/2; /* horizontal 
    grid-row: 3/5; /* vertical */ 
    grid-area:rietveld;
  }
  .rietveld img, 
  .mondrian img{
    max-width: 100%;
    height:auto;
  }
  .rietveld img{
    max-height: 270px;
  }
  .vermelho {
    background: red;
    /* grid-column: 2/3; /* horizontal 
    grid-row: 3/5; /* vertical */
    grid-area:vermelho;
  }
  
  .branco {
    background: white;
    /* grid-column: 3/4; /* horizontal 
    grid-row: 4/5; /* vertical */
    grid-area:branco;
  }
  
  .preto {
    background: black;
    /* grid-column: 4/5; /* horizontal 
    grid-row: 4/5; /* vertical */
    grid-area:preto;
  }