@import 'theme';

ul{
    list-style: none;
    width: 100%;
    background-color: azure;
    li{
        display: block;
        background-color: $primary-color;
        border: 1px solid #cecece;
    }
}